header{
    background-color: #897f9eea;
    color: #FFFFFF;
    position: relative; 
    margin: auto;
    font-size: calc(1vw+0.7em);
    }
    #shapka{
        background-color:  #897f9eea;
        border: 3px solid #000000;
    }
    body{
        background-image: url(images/flowers.jpg);
        background-size: cover;
    }
    a{
        color: #0a021fea;
    }
    table{
        border-collapse: collapse;
        margin: 0px auto;
        text-align: center;  
    }
    .fon{
        margin: 0 auto;
        background-color: #d6c1db;
        border: 2px solid #000000;
        font-size: calc(1vw+0.7em);
    }
    
    .chet
    { 
        background-color: #291850c2; 
        color:#e4dede;
    }
    .nechet
    { 
        background-color: #FFFFFF; 
        color: #000000;
    }
    th,td {
        text-align: center;
        border: 1px solid #000000;
        padding: 5px;
    }
    nav{
        color: #281358ea;
        clear: both;
    }
    #logo{
    float: left;
    border-radius: 50%;
    border: 1px solid #000000;
    }
    header h1{
        font-style:italic;
        font-size: 300%;
      }
    footer
    {
        background-color: #281358ea;
        color: #FFFFFF;
    }
    @media screen and (min-width: 700px) and (orientation: landscape) {
       header{
        width: 60%;
       }
       .fon{
        width: 60%; 
        margin: auto;
       }
    }